
/*
    Original Color Scheme:
    --paper: #FAF8F5;
    --ink: #312720;
    --accent1: #DFAD7C;
    --accent2: #8CBAA2;
    --highlight: #EBD6D6; 

*/

:root {
    --paper: #FAF8F5;
    --ink: #312020;
    --accent1: #df6a6a;
    --accent2: #8cbab6;
    --highlight: #EBD6D6; 

    --footer-height: 200px;
}


$paper: var(--paper);
$ink: var(--ink);
$accent1: var(--accent1);
$accent2: var(--accent2);
$highlight: var(--highlight);

$texture: url('@/assets/images/papertexture.png');