@use 'sass:color';
#root {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root, body, html {

  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;  
  
  
  line-height: 1.5;

  color-scheme: dark light;
  color: $ink;

  background:
    linear-gradient(
      to bottom,
      $paper 0%,
      color.scale($paper, $lightness: -12%) 100%
    ),
    $texture; 
  background-blend-mode: soft-light;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  background: $highlight;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


